@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
	--font-sans: "IBM Plex Sans", sans-serif;
	--font-display: "IBM Plex Sans Condensed", sans-serif;
	--color-contrast: #fdf9ed;
	--color-link: #cde77f;
	--color-base: #04264e;
}

/* a {
	color: var(--color-link);
} */

.footer {
	display: grid;
	width: 100%;
	grid-auto-flow: row;
	place-items: start;
	column-gap: 1rem /* 16px */;
	row-gap: 2.5rem /* 40px */;
	font-size: 0.875rem /* 14px */;
	line-height: 1.25rem /* 20px */;
}
.footer > * {
	display: grid;
	place-items: start;
	gap: 0.5rem /* 8px */;
}
@media (min-width: 48rem /* 768px */) {
	.footer {
		grid-auto-flow: column;
	}
	.footer-center {
		grid-auto-flow: row dense;
	}
}
