@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-headline;
}

body {
  background: #f1f1e6;
  @apply font-body text-primary-700;
}

a {
  @apply font-mono dark:text-primary-200;
}

.gradient-drop {
  @apply relative before:absolute before:w-full before:h-full before:bg-gradient-to-br before:from-primary-500 before:to-primary-700  before:blur rounded-xl before:rounded-xl;

  &:before {
    z-index: 1;
  }

  & img {
    position: relative;
    z-index: 2;
  }
}

.prose {
  @apply dark:text-primary-100;
}
