---
import Hero from "@/components/home/Hero.astro"
import CustomSection from "@/components/home/CustomSection.astro"
import DevelopmentSection from "@/components/home/DevelopmentSection.astro"
import TeachingSection from "@/components/home/TeachingSection.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
import BlogSection from "@/components/home/BlogSection.astro"
import BuiltSection from "@/components/home/BuiltSection.astro"
---

<BaseLayout>
	<Hero />
	<DevelopmentSection />
	<BlogSection />
	<BuiltSection />
	<!-- <TeachingSection /> -->
	<!-- <CustomSection /> -->
	<!-- <main>
		<section class="pt-20">
			<h1 class="text-7xl mb-16 font-display font-bold tracking-tight">
				Hi, I'm Troy.
			</h1>
			<div class="ml-1 prose text-contrast md:text-lg">
				<p>
					I'm a software engineer in Boston. I mostly use JavaScript/TypeScript
					with React, Vue or Svelte. I've also worked with Python and GraphQL.
				</p>
				<p>
					I currently work as a freelancer, and I specialize in jumping into
					projects with tight deadlines that need a spark. If you or your team
					need something built fast and well, <a
						href="https://www.linkedin.com/in/troyciesco"
						class="font-bold underline text-link">get in touch on LinkedIn</a
					>.
				</p>
				<p>
					Previously I've worked at places like Hulu and Gemini, as well as
					startups at various stages of growth. I also spent six years in the US
					Army Reserve.
				</p>

				<p>
					My hobbies include baseball, video games, and studying history. I've
					also recently picked up wildlife photography, and it's been fun to dig
					into both the technical and artistic aspects of that.
				</p>

				<div>Some career highlights include:</div>
				<ul class="mb-8 list-disc prose text-contrast md:text-lg">
					<li class="mb-2">
						Building marketing pages and purchase logic for the
						<a
							class="font-bold underline"
							href="https://niftygateway.com/collections/pakmerge"
							>$91m Pak NFT sale</a
						>, the largest NFT sale in history and largest ever art sale by a
						living creator (as of this writing in June 2022)
					</li>
					<li class="mb-2">
						Building a site that was associated with a Super Bowl commerical
						that received more than 1m page views and 250k signups
					</li>
					<li class="mb-2">
						Leading a team of four to overhaul a Wordpress website for a $10m/yr
						company that provides
						<a class="font-bold underline" href="https://nicabm.com"
							>training for mental health professionals</a
						>
					</li>
					<li class="mb-2">
						Writing
						<a
							class="font-bold underline"
							href="https://medium.com/@tmciesco/the-burrito-method-of-task-estimation-973df97509bb"
							>this article</a
						>
						about how a scrum team can think about estimating tasks. 🌯
					</li>
				</ul>
			</div>
		</section>
	</main> -->
</BaseLayout>
