---
import { Image } from "astro:assets"
import BaseSection from "./BaseSection.astro"

const posts = [
	{
		title: "The Burrito Method of Task Estimation",
		description: "This is a description of the blog post",
		image: {
			src: "https://picsum.photos/seed/a/550",
			alt: "alt"
		}
	},
	{
		title: "Blog Post Two and this is like a pretty long title and stuff",
		description: "This is a description of the blog post",
		image: {
			src: "https://picsum.photos/seed/b/550",
			alt: "alt"
		}
	},
	{
		title: "Blog Post Three",
		description: "This is a description of the blog post",
		image: {
			src: "https://picsum.photos/seed/c/550",
			alt: "alt"
		}
	}
]
---

<BaseSection
	title="I've written some stuff"
	description="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum porro illo voluptatem in, cupiditate repudiandae aliquid aperiam ex!">
	<div class="grid grid-cols-1 md:grid-cols-3 w-full gap-20">
		{
			posts.map((post) => (
				<article class="relative bg-white border border-[#1a31ff90] flex flex-col justify-between">
					<Image
						src={post.image.src}
						alt={post.image.alt}
						width={550}
						height={550}
						class="w-full aspect-square object-cover"
					/>
					<div class="px-4 pt-4 grow">
						<h3 class="text-lg font-bold mb-2">{post.title}</h3>
						<p class="mb-8">
							{post.description} Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Aliquam, velit? Autem ullam magnam expedita aut.
						</p>
					</div>
					<div class="w-full flex justify-end px-4 pb-4">
						<button class="p-2 border-2 border-[#1a31ff90] border-dashed transition-all hover:bg-[#1a31ff90] hover:border-solid hover:text-white">
							Read More
						</button>
					</div>
					<div class="bg-[#1a31ff90] absolute w-full h-full top-2 right-2 -z-[1]" />
				</article>
			))
		}
	</div>
</BaseSection>
