---
import BaseSection from "./BaseSection.astro"

const projects = [
	{
		title: "Hacker News Client",
		description: "This is a description of the blog post"
	},
	{
		title: "Link Page",
		description: "This is a description of the blog post"
	},
	{
		title: "Taste & Brew",
		description: "This is a description of the blog post"
	}
]
---

<BaseSection
	title="I've built some stuff"
	description="Much of my professional work (other than those linked above) has been on internal tooling, so I'm focusing on creating a lot more public work in 2025. In the meantime, here's some cool projects I've tackled.">
	<div class="grid grid-cols-1 md:grid-cols-2 w-full gap-20">
		{
			projects.map((project) => (
				<article class="relative bg-white border border-[#1a31ff90] flex flex-col justify-between">
					<div class="px-4 pt-4 grow">
						<h3 class="text-lg font-bold mb-2">{project.title}</h3>
						<p class="mb-8 prose text-[#1A30FF]">
							{project.description} Lorem ipsum dolor sit amet consectetur
							adipisicing elit. Aliquam, velit? Autem ullam magnam expedita aut.
						</p>
					</div>
					<div class="bg-[#1a31ff90] absolute w-full h-full top-2 right-2 -z-[1]" />
				</article>
			))
		}
	</div>
</BaseSection>

<!-- <section class="py-24 text-[#1A30FF]">
	<div class="max-w-[1480px] mx-auto px-24">
		<div class="mb-10">
			<h2
				class="text-5xl font-condensed font-bold tracking-[-0.04em] mb-4 max-w-prose">
				I've built some stuff
			</h2>
			<p class="prose text-[#1A30FF]">
				Much of my professional work (other than those linked above) has been on
				internal tooling, so I'm focusing on creating a lot more public work in
				2025. In the meantime, here's some cool projects I've tackled.
			</p>
		</div>
		<div class="grid grid-cols-3 gap-8">
			{
				posts.map((post) => (
					<article>
						<h3>{post.title}</h3>
						<p>{post.description}</p>
					</article>
				))
			}
		</div>
	</div>
</section> -->
