---
import { Icon } from "astro-icon/components"
---

<div id="main-nav" class="main-nav mx-4">
	<nav
		class="text-base flex items-center justify-between w-full border-2 border-dashed border-blue-300 px-6 py-3">
		<a href="/" class="font-condensed tracking-tighter font-bold text-2xl">
			TMC
		</a>
		<ul class="flex items-center justify-between gap-4">
			<li>
				<a
					href="https://blog.troycies.co"
					class="hover:underline decoration-double transition-all">Blog</a>
			</li>
			<li>
				<a
					href="https://troycies.co/resume.pdf"
					class="hover:underline decoration-double transition-all">
					Resume
				</a>
			</li>
		</ul>
	</nav>
</div>
<section class="h-svh bg-[#1A30FF] px-4 md:px-10 -z-[2] relative">
	<div class="flex flex-col h-full max-w-[1480px] mx-auto">
		<div
			class="pt-60 text-6xl md:text-[6rem] font-bold font-condensed tracking-[-0.04em] leading-[1.1] text-white">
			<p>Dev.</p>
			<p>Boston.</p>
			<p>Left-handed.</p>
		</div>
		<div class="flex h-full items-end">
			<div
				id="troyciesco"
				class="troyciesco flex items-center text-white text-[108px] md:text-[208px] justify-center w-full md:pb-2">
				<Icon name="troyciesco" class="w-full troyciesco-icon" />
				<h1 class="sr-only">Troy Ciesco</h1>
			</div>
		</div>
	</div>
</section>

<style>
	.main-nav {
		position: fixed;
		top: 8px;
		left: 0;
		right: 0;
		z-index: 300;
		transition: all 0.3s ease;
		margin-inline: 1rem;
		& nav {
			transition: all 0.3s ease;
			background-color: #1a30ff;
			color: white;
		}
	}

	.troyciesco {
		transition: all 0.3s ease;
	}

	.troyciesco.sticky {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		color: #1a30ff;

		& .troyciesco-icon {
			transition: all 0.3s ease;
			opacity: 0.03;
			z-index: -1;
		}
	}

	.main-nav.sticky {
		& nav {
			transition: all 0.3s ease;
			color: #1a30ff;
			background-color: white;
		}
	}
</style>

<script is:inline>
	document.addEventListener("DOMContentLoaded", () => {
		const troyciesco = document.getElementById("troyciesco")
		const nav = document.getElementById("main-nav")
		const troyciescoOffset = troyciesco.offsetTop
		const navOffset = troyciesco.offsetTop + troyciesco.offsetHeight - 48

		function handleScroll() {
			if (window.scrollY > troyciescoOffset) {
				troyciesco.classList.add("sticky")
			} else {
				troyciesco.classList.remove("sticky")
			}

			if (window.scrollY > navOffset) {
				nav.classList.add("sticky")
			} else {
				nav.classList.remove("sticky")
			}
		}

		window.addEventListener("scroll", handleScroll)
		handleScroll()
	})
</script>
