<footer class="footer bg-[#1A30FF] p-10 text-white">
	<aside>
		<div class="font-bold font-condensed tracking-[-0.04em] text-4xl">TMC</div>
		<nav>
			<a
				href="https://github.com/troyciesco"
				class="hover:underline decoration-double">Github</a
			>
			<a
				href="https://linkedin.com/in/troyciesco"
				class="hover:underline decoration-double">
				LinkedIn
			</a>
			<a
				href="https://bsky.app/profile/troycies.co"
				class="hover:underline decoration-double">
				BlueSky
			</a>
		</nav>
		<div>
			© {new Date().getFullYear()} Troy Ciesco | Built with 🍕 in Boston
		</div>
	</aside>
	<!-- <nav>
		<div class="footer-title text-blue-200 opacity-100">Navigation</div>
		<a href="/" class="hover:underline decoration-double">Home</a>
		<a href="/blog" class="hover:underline decoration-double">Blog</a>
		<a href="/resume" class="hover:underline decoration-double">Resume</a>
	</nav>
	<nav>
		<div class="footer-title text-blue-200 opacity-100">Slash Pages</div>
		<a href="/uses" class="hover:underline decoration-double">Uses</a>
		<a href="/ai" class="hover:underline decoration-double">AI</a>
		<a href="/ai" class="hover:underline decoration-double">Blogroll</a>
		<a href="/ai" class="hover:underline decoration-double">Colophon</a>
	</nav>
	<nav>
		<div class="footer-title text-blue-200 opacity-100">Social</div>
		<a
			href="https://github.com/troyciesco"
			class="hover:underline decoration-double">Github</a
		>
		<a
			href="https://linkedin.com/in/troyciesco"
			class="hover:underline decoration-double">
			LinkedIn
		</a>
		<a
			href="https://bsky.app/profile/troycies.co"
			class="hover:underline decoration-double">
			BlueSky
		</a>
	</nav> -->
</footer>
