<header class="py-4">
	<nav class="flex items-center justify-end">
		<ul class="flex items-center gap-4">
			<li><a href="/">Home</a></li>
			<li><a href="https://blog.troycies.co">Blog</a></li>
			<li><a href="/resume">Resume</a></li>
		</ul>
	</nav>
</header>
